/******************************************************************************
 *                   Stylesheet created by kernel-Panic.it                    *
 *                      Source Code Highlighting Styles                       *
 ******************************************************************************/

/* Comments */
.cmt {
  color: #777;
  font-style: italic;
}

/* Language keywords */
.kw {
  color: #933;
  font-weight: bold;
}

/* Strings */
.str {
  color: #096;
}

/* Functions, classes and methods */
.func, .class, .meth {
  color: #339;
}

/* Labels */
.lbl {
  color: #f00;
}

