/******************************************************************************
 *                   Stylesheet created by kernel-Panic.it                    *
 *                                Docs Styles                                 *
 ******************************************************************************/

/*************************  Override a few defaults  **************************/
kbd {
  font-weight: bold;
  color: black;
  background-color: #e3efff;
}

q {
  font-style: italic;
}

/*****************************  Table of contents  ****************************/
#subtitle {
  font-style: italic;
  font-size: 80%;
  padding: 20px 10px;
  line-height: 120%;
}

#subtitle a {
  font-style: normal;
}

#subtitle img {
  border: 0;
  vertical-align: middle;
}

#toc {
  float: right;
  padding: 0px 10px 10px 10px;
  margin: 0px 10px 10px 10px;
  border: 1px solid #28394f;
  background-color: #e3efff;
  box-shadow: 5px 5px 5px #ccc;
}

/*********************************  Navigation  *******************************/
.nav {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 90%;
  display: table;
}

.nav-back {
  text-align: left;
  vertical-align: middle;
  display: table-cell;
}

.nav-title {
  text-align: center;
  font-style: italic;
  vertical-align: middle;
  display: table-cell;
}

.nav-next {
  text-align: right;
  vertical-align: middle;
  display: table-cell;
}

.nav-back img {
  vertical-align: middle;
  padding-right: 5px;
}

.nav-next img {
  vertical-align: middle;
  padding-left: 5px;
}

/*******************************  Code excerpts  ******************************/
div.code {
  border: 1px solid #000;
  background-color: #e3efff;
  padding: 0px 10px;
  margin: 20px 0px;
  overflow-x: auto;
  line-height: 100%;
}

div.code div {
  color: #fff;
  background-color: #28394f;
  padding: 0px 10px;
  margin: 10px 0px;
}

/*
pre {
  white-space: pre-wrap;
  overflow: auto;
}
*/

/***********************************  Images  *********************************/
div.block-img {
  border: 1px solid #000;
  border-right-width: 2px;
  border-bottom-width: 2px;
  width: 100%;
  text-align: center;
}

img.float-img {
  border: 1px solid #000;
  border-right-width: 2px;
  border-bottom-width: 2px;
  margin: 5px;
  margin-left: 20px;
  float: right;
}

/***********************************  Tables  *********************************/
table.compact {
  border-collapse: collapse;
  margin: auto;
  width: 100%;
}

table.compact th, table.compact td {
  border: 1px solid #28394f;
  padding: 0 10px 0 10px;
  vertical-align: top;
}

table.compact th {
  color: #fff;
  background-color: #28394f;
}

table.compact td.number {
  text-align: right;
}

table.compact td.blank {
  border-style: none;
}

/***********************************  Lists  **********************************/
dl.padded  dd {
  padding-bottom: 10px;
}

dl.padded  dt {
  font-weight: normal;

}

dl.padded div.code {
  margin-bottom: 0px;
}
