/******************************************************************************
 *                   Stylesheet created by kernel-Panic.it                    *
 *                         /fun.html specific styles                          *
 ******************************************************************************/

h3 img {
  float: left;
  position: relative;
  top: -10px;
}

dt {
  font-style: italic;
  font-weight: bold;
}

