/******************************************************************************
 *                   Stylesheet created by kernel-Panic.it                    *
 *                        /index.html specific styles                         *
 ******************************************************************************/

#news-header {
  height: 25px;
  background: transparent url('../images/news.png') no-repeat center;
}
 
#news-header span {
  display: none;
}
 
#contacts-header {
  height: 25px;
  background: transparent url('../images/contacts.png') no-repeat center;
}
 
#contacts-header span {
  display: none;
}
 
dt {
  font-size: 80%;
  font-style: italic;
}

dd {
  padding-bottom: 20px;
}
 
a.address {
  display: block;
  text-align: center;
  padding: 10px;
}

