/******************************************************************************
 *                   Stylesheet created by kernel-Panic.it                    *
 *                             Sitewide settings                              *
 ******************************************************************************/

/*************************  Override a few defaults  **************************/
html, body {
  /* Leave a little margin at the bottom */
  height: calc(100% - 10px);
}

body {
  background-color: #fff;
  font-family: sans-serif;
  color: #000;
}

a {
  color: #000;
  text-decoration: underline;
}

img {
  border-width: 0px;
}

/***************************** Global container *******************************/
.container {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #28394f;
  min-height: 100%;
  background-image: url('../images/bottom-left.png'), url('../images/bottom-right.png'), url('../images/left.png');
  background-position: left bottom, right bottom, top left;
  background-repeat: no-repeat, no-repeat, repeat-y;
}


/********************************** Header ************************************/
#header {
  height: 100px;
  padding-left: 50px;
  font-family: 'Kaushan Script', cursive;
  font-size: 65px;
  text-align: center;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.4);
  background-image: url('../images/bomb.png'), url('../images/header-right.png'), url('../images/header_bg.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left, top right, center;
}

/********************************** Sidebar ***********************************/
#sidebar {
  width: 90px;
  padding: 0;
  background: transparent url('../images/top-left.png') no-repeat top left;
}

#sidebar ul {
  margin: 10px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
  list-style-type: none;
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
}

#sidebar li {
  margin: 1px 0px;
}

#sidebar img {
  float: left;
  padding-left: 6px;
}

a.menu {
  height: 40px;
  width: 40px;
  display: block;
  text-decoration: none;
}

a.menu span {
  display: none;
}

/************************************ Main ************************************/
#main {
  border-top: 1px solid #28394f;
  padding-top: 20px;
  padding-left: 0px;
  background: transparent url('../images/top-right.png') no-repeat top right;
}

.separator {
  background: transparent url('../images/sep.png') repeat-x center;
  margin: 0px 20px;
}

.separator h2 {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}

.separator span {
  background-color: #fff;
  padding: 0px 20px;
}

/**************************** Media-dependent styles **************************/
@media (min-width: 576px) {
  #header {
    background-position: 10px, top right, center;
  }
}

@media (min-width: 768px) {
  /* Header */
  #header {
    background-position: 30px, top right, center;
  }

  /* Sidebar */
  #sidebar {
    width: 180px;
  }

  a.menu {
    width: 180px;
    background: transparent url('../images/tile.png') left center no-repeat;
  }

  a.menu:hover {
    background: transparent url('../images/tile_over.png') left center no-repeat;
    color: #000;
    padding-top: 1px;
  }

  a.menu span {
    visibility: visible;
    padding-top: 2px;
    display: block;
  }

  /* Main */
  #main {
    padding-left: 20px;
  }
}

@media (min-width: 992px) {
  #header {
    background-position: 132px, top right, center;
  }
}

@media (min-width: 1200px) {
  #header {
    background-position: 220px, top right, center;
  }
}

