/******************************************************************************
 *                   Stylesheet created by kernel-Panic.it                    *
 *                             Sitewide settings                              *
 ******************************************************************************/

/*************************  Override a few defaults  **************************/
html, body {
  /* Leave a little margin at the bottom */
  height: calc(100% - 10px);
}

body {
  background-color: #fff;
  font-family: sans-serif;
  color: #000;
}

a {
  color: #000;
}

img {
  border-width: 0px;
}

/********************************* Containers *********************************/
#container {
  width: 100%;
  min-height: 100%;
  margin: auto;
  display: table;
  border: 1px solid #28394f;
  border-collapse: collapse;
  background-image: url('../images/bottom-left.png'), url('../images/bottom-right.png'), url('../images/left.png');
  background-position: left bottom, right bottom, top left;
  background-repeat: no-repeat, no-repeat, repeat-y;
}

#sub-container {
  background-image: url('../images/top-left.png'), url('../images/top-right.png');
  background-position: top left, top right;
  background-repeat: no-repeat, no-repeat;
}

/********************************** Header ************************************/
#header {
  height: 100px;
  padding-left: 50px;
  display: table-row;
  text-align: center;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.4);
  font-family: 'Kaushan Script', cursive;
  font-size: 65px;
  background-image: url('../images/bomb.png'), url('../images/header-right.png'), url('../images/header_bg.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left, top right, center;
}

/********************************** Sidebar ***********************************/
#sidebar {
  width: 60px;
  padding: 0;
  display: table-cell;
}

#sidebar ul {
  margin: 10px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
  list-style-type: none;
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
}

#sidebar li {
  margin: 1px 0px;
}

#sidebar img {
  float: left;
  padding-left: 6px;
}

a.menu {
  height: 40px;
  width: 40px;
  display: block;
  text-decoration: none;
}

a.menu span {
  display: none;
}

/************************************ Main ************************************/
#main {
  border-top: 1px solid #28394f;
  display: table-cell;
  vertical-align: top;
  width: 100%;
}

#content {
  margin: 20px;
  line-height: 150%;
}

/************************************ Media ***********************************/
@media (min-width: 576px) {
  #container {
      width: 540px;
  }
  #header {
    background-position: 10px, top right, center;
  }
}

@media (min-width: 576px) {
  #container {
      width: 540px;
  }
  #header {
    background-position: 10px, top right, center;
  }
}

@media (min-width: 768px) {
  #container {
    width: 720px;
  }
  #header {
    background-position: 30px, top right, center;
  }
  /* Sidebar */
  #sidebar {
    width: 180px;
    max-width: 180px;
  }

  a.menu {
    width: 180px;
    background: transparent url('../images/tile.png') left center no-repeat;
    padding-bottom: 1px;
  }

  a.menu:hover {
    background: transparent url('../images/tile_over.png') left center no-repeat;
    color: #000;
    padding-bottom: 0px;
    padding-top: 1px;
  }

  a.menu span {
    visibility: visible;
    padding-top: 2px;
    display: block;
  }
}

@media (min-width: 992px) {
  #container {
    width: 960px;
  }
  #header {
    background-position: 132px, top right, center;
  }
}

@media (min-width: 1200px) {
  #container {
    width: 1140px;
  }
  #header {
    background-position: 220px, top right, center;
  }
}

