/******************************************************************************
 *                   Stylesheet created by kernel-Panic.it                    *
 *                             Sitewide settings                              *
 ******************************************************************************/

/*************************  Override a few defaults  **************************/
body {
  background-color: #fff;
  font-family: sans-serif;
  color: #000;
}

a {
  color: #000;
}
 
form {
  text-align: center;
}

img {
  border-width: 0px;
}
 
p:first-letter {
  font: bold 180% serif;
  float: left;
}
 
/***************************  Page-enclosing table  ***************************/
#container {
  width: 952px;
  height: 100%;
  border: 1px solid #28394f;
  border-collapse: collapse;
  margin: auto;
}

/**************************  Page header and footer  **************************/
#header {
  width: 800px;
  height: 100px;
  background: #28394f url('../images/header.png') no-repeat;
  padding: 0;
}
 
#header h1 {
  display: none;
}

td.top {
  height: 20px;
  background: #28394f url('../images/top.png') no-repeat;
  padding: 0;
}

td.bottom {
  height: 20px;
  background: #28394f url('../images/bottom.png') no-repeat;
  padding: 0;
}

address {
  font-size: 9pt;
  font-style: italic;
  text-align: center;
}

/***************************  Right column (links)  ***************************/
#flags {
  background: #28394f url('../images/blue.png') repeat;
  vertical-align: bottom;
  text-align: center;
}

#flags img {
  border: 1px solid #8ea8cc;
  margin: 2px;
}

td.right-col {
  background: #28394f url('../images/blue.png') repeat;
  padding: 0;
  vertical-align: top;
}

td.right-col ul {
  font-size: 80%;
  list-style-type: none;
  margin: 0px 10px 15px;
  padding: 0;
}

td.right-col a {
  color: #fff;
  text-decoration: none;
}

td.right-col a:hover {
  text-decoration: underline;
}

#links {
  height: 25px;
  background: transparent url('../images/links.png') no-repeat top center;
}

#links span{
  display: none;
}

#search {
  height: 25px;
  background: transparent url('../images/search.png') no-repeat top center;
}

#search span{
  display: none;
}

input {
  vertical-align: top;
}

input.submit {
  vertical-align: bottom;
}

td.validators {
  background: #28394f url('../images/blue.png') repeat;
  vertical-align: bottom;
  text-align: center;
}

/**************************  Left column (main menu)  *************************/
td.left-col {
  width: 180px;
  background: transparent url('../images/left.png') repeat-y top left;
  padding: 0;
  vertical-align: top;
}

td.left-col ul {
  margin: 10px 0px 0px;
  padding: 0;
  list-style-type: none;
}

/* Main menu images with rollover effect */
a.menu {
  height: 40px;
  display: block;
}

a.menu span {
  display: none;
}

/* Submenu */
#submenu {
  list-style-image: url('../images/li.png');
  font-size: 80%;
  margin: 3px 0px 20px 30px;
  padding-left: 25px;
}

#submenu a {
  height: 20px;
  text-decoration: none;
  background-image: none;
}

#submenu a:hover {
  text-decoration: underline;
  background-image: none;
}

/*********************************  Main Part  ********************************/
td.main {
  width: 590px;
  vertical-align: top;
  padding: 0px 15px 15px;
}
 
.separator {
  background: transparent url('../images/sep.png') repeat-x center;
  margin: 0px 20px;
}

fieldset, .box {
  padding: 0px 10px 10px;
  margin-top: 30px;
  border-color: #000;
  border-style: solid;
  border-width: 1px 1px 2px 2px;
}

fieldset div {
  padding: 10px 0 0;
  font-style: italic;
}

fieldset dt {
  font-weight: bold;
}

fieldset dd {
  padding-bottom: 10px;
}

