/******************************************************************************  
 *                   Stylesheet created by kernel-Panic.it                    *  
 *                          Cow Pasture game styles                           *  
 ******************************************************************************/

#gameboard {
  border: 1px solid #000;
  border-collapse: collapse;
  background-color: #a0eea3;

}

#gameboard td {
  padding: 0;
}

#gameboard img {
  float: left;
}

#cows {
  height: 90px;
  width: 90px;
  background: transparent url('images/board.png') no-repeat;
  margin-left: 40px;
}

#cows span {
  color: #fff;
  font-weight: bold;
  position: relative;
  bottom: -40px;
}

