/******************************************************************************
 *                   Stylesheet created by kernel-Panic.it                    *
 *                                                                            *
 *                            Puzzle game styles                              *
 ******************************************************************************/

#frame {
  border: 1px solid #000;
  border-collapse: collapse;
  background-color: #c96;
}

#frame img {
  float: left;
}

#canvas {
  border: 1px solid #000;
  border-collapse: collapse;
  margin: 10px;
}

#canvas td {
  padding: 0;
}

#shuffle {
  font-weight: bold;
  font-style: italic;
}

#shuffle img{
  vertical-align: middle;
}

